
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');





/*--------------------------------------------heading*/



.name{
       font-family: "Exo", sans-serif;

    font-weight: 350;

    font-size: 46px;

    margin-top: 0;

    color: #0e0c0c;
    text-align: center;

}
.title{
    font-family: "Roboto", sans-serif;

    font-weight:280;

    font-size: 28px;

    margin-top: 20px;

    margin-bottom: 30px;

    color: #0e0c0c;
        text-align: center;

}



/*--------------------------------------------navigation links*/

/*--------------------------------------------image*/
.bg-image-outer {
    margin-top: 150px;
     background: url("../images/homegirl.jpg");

    background-position: center;

    background-repeat: no-repeat;

    background-size: center;

        transition: all .5s ease-in-out;

    -moz-transition: all .5s ease-in-out;

    -webkit-transition: all .5s ease-in-out;
}


.jumbotron { 
    background-color:transparent;

}
/*--------------------------------------------about*/

h4 { font-family: "Roboto", sans-serif;

    font-weight: 350;


    margin-top: 0;

    color: #0e0c0c;

}

p {font-family: "Roboto", sans-serif;

    font-weight: 350;


    margin-top: 0;

    color: #0e0c0c
    
}

.about-1 {
    margin-top: 30px;
}
.about-outer {
    margin-top: 200px;
    text-align: center;
    background-color: #e9d9d9;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;

}
.aboutme-heading {
   
    font-family: "Exo", sans-serif;

    font-weight: 400;

    color: #0e0c0c;
    text-align: center;
}





/*--------------------------------------------footer*/

.list-inline-item:not(:last-child) {

    margin: 0px;

}
footer {

    background-color: #e0dddd;

    color: #0e0c0c;

    min-height: 120px;

    margin: 0;
    
    font-family: "Exo", sans-serif;

}

.cv-pdf i {

    font-size: 18px;

    color: #0e0c0c;

    text-align: center;

    padding-left: 5px;

    transition: all 0.35s ease-in-out;

    -moz-transition: all 0.35s ease-in-out;

    -webkit-transition: all 0.35s ease-in-out;

    -o-transition: all 0.35s ease-in-out;

}



.cv-pdf i:hover {

    color: #dd580b;

}



.social-links {

    padding-bottom: 30px;
}
.list-inline {
   

}





.social-links li a i {

    width: 32px;

    height: 32px;

    padding: 15px 0;

    border-radius: 50%;

    font-size: 20px;

    line-height: 5px;

    text-align: center;

    color: #e0dddd;

    background: #0e0c0c;

    transition: all 0.35s ease-in-out;

    -moz-transition: all 0.35s ease-in-out;

    -webkit-transition: all 0.35s ease-in-out;

    -o-transition: all 0.35s ease-in-out;

}



.social-links li a i:hover {

    background: #dd580b;

}



#footer-details {

    padding: 20px;

}










