
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');





/*--------------------------------------------heading*/
.home-outer {
    background-color: #EEE7F3;
    margin:0;
}


.name{
       font-family: "Exo", sans-serif;

    font-weight: 350;

    font-size: 46px;

    margin-top: 0;

    color: #0e0c0c;
    text-align: center;

}
.title{
    font-family: "Roboto", sans-serif;

    font-weight:300;

    font-size: 28px;

    margin-top: 20px;

    margin-bottom: 20px;

    color: #0e0c0c;
        text-align: center;

}




/*--------------------------------------------bg-image*/
.bg-image-outer {
    clear:right;
        margin-top: 150px;
        background: url("../images/homegirl.jpg") center no-repeat ;
        height:95%;
        width:100%;
        position: absolute;
        background-color:#EEE7F3;
        margin:0;
        
  }


.jumbotron { 
       
       background-color:#cc9ad6;
       color: #fff;
       position: relative;
       float: right;
       
       margin:0 30px;
       padding-top: 100px;
       margin-top: 20%;
       
     }
.lead {
    color: #fff;

     }
.home-contect-btn {
    float: right;
    
}
/*--------------------------------------------about*/

h4 { font-family: "Roboto", sans-serif;

    font-weight: 375;
    margin-top: 20px;
    color: #23002c;
    font-style: italic;
    margin-bottom: 10px;
    text-align: left;
    margin-left:10px;
}

p , .list {font-family: "Roboto", sans-serif;

    font-weight: 380;

    margin-top: 0;

    color: #23002c;
      
}

.about-1 {
    margin: 0;
}



.about-2 {
    margin-top: -10px;
    line-height: 30px;
  
}

.about-3 {
 
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 20px;
}

.aboutme-sub-1 {
   
    margin:50px;
     width: 300px;
    height: 300px;
    padding: 0.5%;
    text-align: left;
   
}



.aboutme-sub-2 {
    
    margin:50px;
     width: 300px;
    height: 300px;
    padding: 0.5%;
    text-align: left;
  
}
.aboutme-sub-3 {
    
    margin:50px;
     width: 300px;
    height: 300px;
    padding: 0.5%;
    text-align: left;
}
.aboutme-sub-4 { 
    
    margin:50px;
     width: 300px;
    height: 300px;
    padding: 0.5%;
    text-align: left;
    
}




.about-outer {
        margin-top: 154px;
       
    
        background-color: #EEE7F3;
     
        text-transform: uppercase;
     

}
.aboutme-heading {
   
    font-family: "Exo", sans-serif;

    font-weight: 400;

    color: #9c2406;
    text-align: center;
    margin-top: 20px;
    
}

#center-image {
     width: 330px;
    height: 330px;
    padding: 0;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}
#center-image-cover-bg {
    
    background-image: url("../images/homegirl.jpg"); 
    background-color: #aabd00; 
    height: 100%; 
    width:100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    border-radius: 50%;


}




/*--------------------------------------------resume*/

.bg-resume {
    background-color: #EEE7F3;
    height:75em;
   
    
}


.history-heading {
    
    margin-bottom: 50px;
}


.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #d81717;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #d81717;
}

.history-items {
    margin-bottom: 30px;
}

.uppercase { 
    text-transform: uppercase;

}
.resume-workhistory {
    margin-top: 30px; 
}
.resume-personalinfo {
    margin-top: 30px;
}
.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .info,
.personal-info-item .detail {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .info p,
.personal-info-item .detail p {
    margin: 0;
}

.personal-info-item .info {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .info p {
    font-weight: 700;
}

.personal-info-item .detail {
    position: relative;
    width: 60%;
}

.progress {
    position: relative;
    height: 40px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 10px 30px 10px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}

.progress-section {
    margin: 150px 20px 10px 10px;

}



/*--------------------------------------------footer*/

.list-inline-item:not(:last-child) {

    margin: 0px;

}
footer {

    background-color:#EEE7F3;

    color: #0e0c0c;

    min-height: 120px;

    margin: 0;
    
    font-family: "Exo", sans-serif;

}

.cv-pdf i {

    font-size: 18px;

    color: #0e0c0c;

    text-align: center;

    padding-left: 5px;

    transition: all 0.35s ease-in-out;

    -moz-transition: all 0.35s ease-in-out;

    -webkit-transition: all 0.35s ease-in-out;

    -o-transition: all 0.35s ease-in-out;

}



.cv-pdf i:hover {

    color: #dd580b;
    

}



.social-links {

    padding-bottom: 30px;
}
   






.social-links li a i {

    width: 32px;

    height: 32px;

    padding: 15px 0;

    border-radius: 50%;

    font-size: 20px;

    line-height: 5px;

    text-align: center;

    color: #e0dddd;

    background: #0e0c0c;

    transition: all 0.35s ease-in-out;

    -moz-transition: all 0.35s ease-in-out;

    -webkit-transition: all 0.35s ease-in-out;

    -o-transition: all 0.35s ease-in-out;

}



.social-links li a i:hover {

    background: #dd580b;

}



#footer-details {

    padding: 20px;

}










