
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


body {
    margin:0;
    padding: 0;
}



/*--------------------------------------------heading*/
.nav-outer {
    margin:-30px;
    padding: 10px;
    background-color:#2e2b2b;
  
    
}


.name{
       font-family: "Exo", sans-serif;

    font-weight: 350;

    font-size: 32px;

    margin-top: 30px;

    color:#e0dddd;
    text-align: center;

}
.title{
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight:300;

    font-size: 22px;

       color:#e0dddd;
;
        text-align: center;

}

.nav-style {
    font-weight: 500;
    color:#e0dddd;
}



/*--------------------------------------------bg-image*/
.bg-image-outer {
    margin:0 ;
    padding:0 ;
    background: url("../images/laptop.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.8;
                
                
  }


.home { 
      
       background-color:#e2a31b;
       opacity: 0.9;
       color: #fff;
       position: relative;
       margin-top:126px;
       padding: 22px;
       text-align: center;
    
     }
.jumbotron-text {
    font-weight: 300;
     font-family: "Roboto", sans-serif;
}

.lead {
    color: #fff;

     }

  
    
/*--------------------------------------------about*/


.about-outer {
    
        margin-top: 126px;
        padding-top: 80px;
       color: #e0dddd;
    height:90vh;

        background-color: #2e2b2b;
     
        text-transform: uppercase;
     

}
.aboutme-heading {
   
    font-family: "Exo", sans-serif;

    font-weight: 400;

    color: #f8edd5;
    text-align: center;
    margin: 20px;
    
}

.center-container{
width: 350px;
height:350px;
padding: 10px;
border-style:solid;
border-color:#ecdfdf;
border-radius: 50%;
margin:0 auto;
}



.center-image-cover-bg {
    
    background-image: url("../images/homegirl.jpg");
    position:center;
    height:100%; 
    width:100%;
    
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover; 

}
.about-text-outer {
    border: 5px 
}

.about-item {
    margin:50px;
    text-align: left;
    border: 5px 
}



/*--------------------------------------------resume*/

.bg-resume {
   margin-top:126px;
   padding-top: 80px;
    background-color:#2e2b2b;
    color:#e0dddd;
    height:90vh;
}


.history-heading {
    
    margin-bottom: 50px;
}


.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #d4acac;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #d4acac;
}

.history-items {
    margin-bottom: 30px;
}

.uppercase { 
    text-transform: uppercase;

}
.resume-workhistory {
    margin-top: 30px; 
}
.resume-personalinfo {
    margin-top: 30px;
}
.personal-info-item {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .info,
.personal-info-item .detail {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .info p,
.personal-info-item .detail p {
    margin: 0;
}

.personal-info-item .info {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .info p {
    font-weight: 700;
}

.personal-info-item .detail {
    position: relative;
    width: 60%;
}

.progress {
    position: relative;
    height: 40px;
    margin-bottom: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 10px 30px 10px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);
}

.progress-section {
    margin: 150px 20px 10px 10px;

}

/*--------------------------------------------contact*/

.contact {
   margin-top:200px;
   margin-left: 50%;
       background-color:#313031 ;
       opacity: 0.9;
       color: #fff;
      padding: 18px;
     max-width: 75%;
     text-align: center;
 
     
}

.contact-bg {
     background: url("../images/orange.jpg");
         background-position: center; 
        background-repeat: no-repeat;
        background-size:cover;
        width: 100%;
        height: 100%;
         position: absolute;
       background-attachment: fixed;
        margin-top:126px;
        opacity: 0.9;

   
}

.form-group {

    font-size: 21px;
    margin:0;

}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left:80px;
    position: center;
    font-size: 24px;
}

/*--------------------------------------------footer*/



.list-inline-item:not(:last-child) {

    margin: 0px;
    padding: 20px;

}
footer {

    background-color:transparent;

    color: #e0dddd;
  
    margin: -30px;
    
    font-family: "Exo", sans-serif;
    padding: 10px;
    ;

}


.general-sub {
    font-size: 22px;
    font-weight: 350;
}

.inline-block {
    font-weight: 300;
}


.cv-pdf i {

    font-size: 18px;

    color: #cf5e5e;

    text-align: center;

    padding-left: 5px;
    padding-top: 5px;

    transition: all 0.35s ease-in-out;

    -moz-transition: all 0.35s ease-in-out;

    -webkit-transition: all 0.35s ease-in-out;

    -o-transition: all 0.35s ease-in-out;

}



.cv-pdf i:hover {

    color: #e29c74;
    

}



.social-links {

    padding-bottom: 10px;
}
   






.social-links li a i {

    width: 32px;

    height: 32px;

    padding: 15px 0;

    border-radius: 50%;

    font-size: 20px;

    line-height: 5px;

    text-align: center;

    color: #e0dddd;

    background: #0e0c0c;

    transition: all 0.35s ease-in-out;

    -moz-transition: all 0.35s ease-in-out;

    -webkit-transition: all 0.35s ease-in-out;

    -o-transition: all 0.35s ease-in-out;

}



.social-links li a i:hover {

    background: #dd580b;

}

/*--------------------------------------------Media Queries*/









